In [27]:
# importing required library
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
import warnings
warnings.filterwarnings('ignore')

In [5]:
# loading creditcard dataset to a Pandas Dataframe
credit_card_data = pd.read_csv(r'C:\Users\shubham raj\Documents\DataSets\creditcard.csv')

In [6]:
# first 5 rows of dataset
credit_card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [7]:
# last 5 rows of dataset
credit_card_data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
284802,172786.0,-11.881118,10.071785,-9.834783,-2.066656,-5.364473,-2.606837,-4.918215,7.305334,1.914428,...,0.213454,0.111864,1.014480,-0.509348,1.436807,0.250034,0.943651,0.823731,0.77,0
284803,172787.0,-0.732789,-0.055080,2.035030,-0.738589,0.868229,1.058415,0.024330,0.294869,0.584800,...,0.214205,0.924384,0.012463,-1.016226,-0.606624,-0.395255,0.068472,-0.053527,24.79,0
284804,172788.0,1.919565,-0.301254,-3.249640,-0.557828,2.630515,3.031260,-0.296827,0.708417,0.432454,...,0.232045,0.578229,-0.037501,0.640134,0.265745,-0.087371,0.004455,-0.026561,67.88,0
284805,172788.0,-0.240440,0.530483,0.702510,0.689799,-0.377961,0.623708,-0.686180,0.679145,0.392087,...,0.265245,0.800049,-0.163298,0.123205,-0.569159,0.546668,0.108821,0.104533,10.00,0
284806,172792.0,-0.533413,-0.189733,0.703337,-0.506271,-0.012546,-0.649617,1.577006,-0.414650,0.486180,...,0.261057,0.643078,0.376777,0.008797,-0.473649,-0.818267,-0.002415,0.013649,217.00,0

In [8]:
# dataset info
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [9]:
# check missing or na values in each column
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [10]:
# check no. of normal and fraud transaction
credit_card_data['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

0 means Normal Transaction, 1 means Fraud Transaction

In [11]:
# Seperate normal transaction and fraudulent transaction
normal_tran = credit_card_data[credit_card_data.Class == 0]
fraud_tran = credit_card_data[credit_card_data.Class == 1]

In [12]:
Total_transactions = len(credit_card_data)
normal = len(normal_tran)
fraudulent = len(fraud_tran)
fraud_percentage = round(fraudulent/normal*100, 2)
print('Total number of Trnsactions are {}'.format(Total_transactions))
print('Number of Normal Transactions are {}'.format(normal))
print('Number of fraudulent Transactions are {}'.format(fraudulent))
print('Percentage of fraud Transactions is {}'.format(fraud_percentage))

Total number of Trnsactions are 284807
Number of Normal Transactions are 284315
Number of fraudulent Transactions are 492
Percentage of fraud Transactions is 0.17

The dataset is highly unbalanced, only 0.17% of transaction are fraudulent

In [15]:
# Statistical measure of data
normal_tran['Amount'].describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [16]:
fraud_tran['Amount'].describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

To deal with Unbalanced Data

We used Under-Sampling

Bulid a sample dataset containing Normal Transactions and Fraudulent Transactions

In [17]:
# Take sample data from normal transaction
sample_normal_tran = normal_tran.sample(n=492)

In [18]:
# concat two dataframes
new_data = pd.concat([sample_normal_tran, fraud_tran], axis=0)

In [19]:
new_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
129892,79236.0,-1.071330,1.571885,0.776657,0.043604,-0.321639,-1.045134,0.367723,0.310290,-0.332854,...,-0.241185,-0.701144,0.098225,0.329158,-0.076561,0.068182,0.104612,0.089055,9.99,0
141756,84481.0,1.306418,-0.298356,0.583298,-0.929598,-0.717195,-0.329393,-0.521564,-0.038151,1.727688,...,-0.055852,0.142873,-0.151956,-0.416882,0.645542,-0.637310,0.099178,0.028811,1.00,0
100790,67624.0,-0.747120,0.523066,2.685825,-0.235830,-0.665794,-0.508109,0.196077,0.164850,0.397521,...,0.004541,0.072642,-0.134738,0.718238,-0.077650,0.140296,0.063524,0.104275,11.50,0
146403,87675.0,-0.239196,0.664138,-0.117115,-2.436319,0.873883,-1.139096,1.259413,-0.230391,0.483429,...,-0.225013,-0.453314,-0.057022,-0.627849,-0.644004,0.369578,0.330000,0.245906,5.00,0
203867,135009.0,-1.582927,-0.950364,0.580318,-0.908516,-0.938009,-0.137553,2.067949,-0.263479,-1.622124,...,0.016576,-0.168016,0.618106,-0.121142,1.036627,0.603206,0.074864,0.140916,457.00,0

In [20]:
new_data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00,1
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76,1
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89,1
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00,1
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53,1

In [21]:
# check if data is balanced
new_data.Class.value_counts()

0    492
1    492
Name: Class, dtype: int64

In [23]:
new_data.groupby('Class').Amount.mean()

Class
0     87.604370
1    122.211321
Name: Amount, dtype: float64

### Splitting the Dataset

In [24]:
# Define dependent and independent variable
X = new_data.drop(columns= 'Class', axis=1)
Y= new_data['Class']

In [25]:
# Split data into training and testing data
X_train, X_test, Y_train, Y_test = train_test_split(X,Y,test_size=0.2,stratify=Y,random_state=2)

## Model Building and Model Evaluation

### Using LogisticRegression

In [28]:
lr = LogisticRegression()

In [29]:
# Train the model with training data
lr.fit(X_train,Y_train)

LogisticRegression()

In [30]:
# Check accuracy on training data
X_train_prediction = lr.predict(X_train)
print('Accuracy score of the Logistic Regression model on training data is {}'.format(accuracy_score(X_train_prediction, Y_train)))

Accuracy score of the Logistic Regression model on training data is 0.9186785260482846

In [31]:
# Check accuracy of model on testing data
X_test_prediction = lr.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction,Y_test)
print('Accuracy score of the Logistic Regression model on testing data is ', test_data_accuracy)

Accuracy score of the Logistic Regression model on testing data is  0.9086294416243654

In [32]:
print(classification_report(Y_test, X_test_prediction))

              precision    recall  f1-score   support

           0       0.86      0.97      0.91        99
           1       0.97      0.85      0.90        98

    accuracy                           0.91       197
   macro avg       0.91      0.91      0.91       197
weighted avg       0.91      0.91      0.91       197

### Using Random Forest

In [33]:
from sklearn.ensemble import RandomForestRegressor, RandomForestClassifier

In [34]:
# Training model
rf = RandomForestClassifier(max_depth = 4)
rf.fit(X_train, Y_train)
rf_yhat = rf.predict(X_test)

In [36]:
# check accuracy
print('Accuracy score of the Random Forest model is {}'.format(accuracy_score(Y_test, rf_yhat)))

Accuracy score of the Random Forest model is 0.9289340101522843

In [37]:
print(classification_report(Y_test, rf_yhat))

              precision    recall  f1-score   support

           0       0.88      0.99      0.93        99
           1       0.99      0.87      0.92        98

    accuracy                           0.93       197
   macro avg       0.94      0.93      0.93       197
weighted avg       0.94      0.93      0.93       197